[pull]
	rebase = false

[user]
	name = Sung Kang
	email = sk5156@gmail.com 

[includeIf "gitdir:~/dev/work/cac_platform/"]
  path = .gitconfig-cac

[core]
  pager = delta

[remote.origin]
  prune = true

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = side-by-side line-numbers decorations
  navigate = true

[merge]
  conflictstyle = zdiff3
	tool = nvimdiff

[diff]
  colorMoved = default

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $BASE $MERGED -c \"wincmd J\"

[init]
	defaultBranch = main
