Plug 'michaeljsmith/vim-indent-object'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'vim-matchit'

" =========================
" === SECTION: Settings ===
" =========================
set backspace=indent,eol,start
set clipboard=unnamed
set hlsearch
set ignorecase
set incsearch
set nostartofline
set number
set relativenumber
set ruler
set showcmd
set showmode
set smartcase
set timeoutlen=400

" =========================
" === SECTION: Mappings ===
" =========================
let mapleader=","
set easymotion

" === Configuration ===
noremap <leader>ev :vs ~/.ideavimrc<cr>
map <leader>vv <Action>(IdeaVim.ReloadVimRc.reload)
nnoremap L Lzz
nnoremap H Hzz
nnoremap n nzz
nnoremap N Nzz
nnoremap <leader>, ,

" === Windows and Tabs ===
map <c-h> <c-w>h
map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l
nnoremap + 5<c-w>>
nnoremap _ 5<c-w><
nnoremap <c-.> 5<c-w><
nnoremap <c-,> 5<c-w><
map <leader>q <Action>(CloseContent)

" === Jump List ===
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

" === Buffers ===
nnoremap <silent> <leader>b <Action>(RecentFiles)
nnoremap <silent> <leader>bb :bd<cr>
nnoremap <silent> <leader>ba :%bd<cr>
nnoremap <silent> <c-n> <c-6>

" === Search & Navigation ===
map <leader>f <Action>(FindInPath)
map <C-p> <Action>(GotoFile)
nnoremap <silent> <leader>/ :noh<cr>
map ]m <Action>(MethodDown)
map [m <Action>(MethodUp)
map ]e <Action>(GotoNextError)
map [e <Action>(GotoPreviousError)
map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)

" === Goto Test ===
map <silent> <leader>t <Action>(GotoTest)

" === Project Management ===
map <leader>rr <Action>(ManageRecentProjects)
map <leader>s <Action>(FileStructurePopup)
map <leader>b <Action>(RecentFiles)

" === FileChooser ===
map <leader>n <Action>(FileChooser.GotoHome)

" === LSP ===
map gr <Action>(GotoDeclaration)
map gt <Action>(GotoTypeDeclaration)
map <space>e <Action>(ShowErrorDescription)

" === Debugging ===
map <space><space> <Action>(ChooseRunConfiguration)
map <space>dd <Action>(Debug)
map <space>dn <Action>(DebugClass)

map <space>ru <Action>(RunClass)
map <space>rr <Action>(Rerun)

map <space>ru <Action>(Run)
map <space>st <Action>(Stop)

map <space>bb <Action>(ToggleLineBreakpoint)
map <space>BB <Action>(ViewBreakpoints)
map <space>rab <Action>(Debugger.RemoveAllBreakpoints)

" === Formatting and Refactor ===
map <space>f <Action>(ReformatCode)
map <space>rn <Action>(RenameElement)

" === Git ===
map <space>ga <Action>(Annotate)
map <space>gp <Action>(ActivatePullRequestsToolWindow)
map <space>hp <Action>(VcsShowCurrentChangeMarker)
map <space>hu <Action>(Vcs.RollbackChangedLines)

" === Section: window management ===
map <C-s>z <Action>(HideAllWindows)
map <C-w><C-o> <Action>(CloseAllEditorsButActive)
map vs <Action>(MoveTabRight)
map vm <Action>(MoveEditorToOppositeTabGroup)

" === Folding ===

map <space>t <Action>(ActivateTerminalToolWindow)

set ideajoin
