so ~/.vimrc
set exchange
set surround
set easymotion
set multiple-cursors
set vim-indent-object

" === Section: IDEAVIM actions ===
noremap <leader>ev :vs ~/.ideavimrc<cr>
noremap <leader>vv :vs ~/.vimrc<cr>
noremap <leader>sv :action IdeaVim.ReloadVimRc.reload<cr>
noremap <leader>rr :action ManageRecentProjects<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [m :action MethodUp<cr>
nnoremap <leader>ss :action FileStructurePopup<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>fa :action FindInPath<cr>

" === Debugging ===
nnoremap <space><space> :action DebugMainMenu<cr>
nnoremap <space>dd :action Debug<cr>
nnoremap <space>dn :action DebugClass<cr>

nnoremap <space>rn :action RunClass<cr>
nnoremap <space>rr :action Rerun<cr>

nnoremap <space>ru :action Run<cr>
nnoremap <space>st :action Stop<cr>

nnoremap <space>bb :action ToggleLineBreakpoint<cr>
nnoremap <space>BB :action ViewBreakpoints<cr>
nnoremap <space>rab :action Debugger.RemoveAllBreakpoints<cr>

" === Diff ===

" === Go ===
nnoremap <leader>gf :action GoFmtFileAction<cr>

" === Git ===
nnoremap <leader>gga :action Annotate<cr>

" === Section: window management ===
noremap <leader>ca :action CloseAllEditorsButActive<cr>
noremap <leader>vs :action MoveTabRight<cr>
noremap <leader>vm :action MoveEditorToOppositeTabGroup<cr>
noremap <leader>ww :action HideAllWindows<cr>
set ideajoin
