snippet lam  lambda
	(${1}) => {${0}}

snippet doc  block comment
	/**
	 * ${0}
	 */

# logf
snippet logf
  console.log('🔥 ${1}', ${1});

# logff
snippet logff
  console.log('🔥 ${1}', JSON.parse(JSON.stringify(${1})));


## playwright
snippet des  playwright test describe
	test.describe('${1}', () => {
		${0}
	});

snippet tes  playwright test
	test('${1}', async ({ page }) => {
		${0}
	});
