extends typescript

# vue template
snippet vue "basic vue 2 template"
	<template>
	<div></div>
	</template>
	

	<script lang="ts">
	import Vue from 'vue';

	export default Vue.extend({
		name: '${0}',
	})
	</script>


	<style scoped>
	</style>

