extends typescript

# vue template
snippet vue "basic vue 3 template"
	<script lang="ts">
		export default {
			name: '${0}',
		}
	</script>

	<script setup lang="ts">

	</script>

	<template>
		<div></div>
	</template>
